<%- include("partials/header.ejs") %>

<main>
    <div class="tips-container">
        <% diseasePreventionTips.forEach(tip=> { %>
            <div class="tip-card">
                <h3>
                    <%= tip.title %>
                </h3>
                <p>
                    <%= tip.description %>
                </p>
                <small>
                    <%= tip.category %>
                </small>
            </div>
            <% }); %>
    </div>
</main>



<%- include("partials/footer.ejs") %>