<%- include("partials/header.ejs") %>
<div  class="smyptom-div">
    <h3>Disease Prevention Tips for Community</h3>
<div class="search-container">
    <input
      type="text"
      id="search-input"
      placeholder="Search for diease tips and prevention with sypmtom..."
    />
  </div>
</div>
<main>
    <div class="tips-container">
        <% diseasePreventionTips.forEach(tip=> { %>
            <div class="tip-card">
                <h3>
                    <%= tip.title %>
                </h3>
                <p>
                    <%= tip.description %>
                </p>
                <small>
                    <%= tip.category %>
                </small>
            </div>
            <% }); %>
    </div>
</main>



<%- include("partials/footer.ejs") %>