<%- include("partials/header.ejs") %>
<main>
    <div class="alerts-container">
        <% healthAlerts.forEach(alert=> { %>
            <div class="alert-card">
                <h3>
                    <%= alert.title %>
                </h3>
                <p>
                    <%= alert.description %>
                </p>
                <small>Date: <%= alert.date %></small>
            </div>
            <% }); %>
    </div>
</main>

<%- include("partials/footer.ejs") %>
