<%- include("partials/header.ejs") %>


<!-- Search Bar Section -->
<!-- #comment: Added a search bar feature below the header -->
<div class="search-container">
  <input
    type="text"
    id="search-input"
    placeholder="Search health resources by title, address, or state..."
  />
</div>

  <div class="container">
    <h2>List of Clinics, Pharmacies, and Telemedicine Options</h2>

  <p id="search-message" style="display: none;">No results found.</p>
    <div class="resources-container">
      <% if (healthResources.length> 0) { %>
        <% healthResources.forEach(resource=> { %>
          <div class="resource-card">
            <img src="<%= resource.imageUrl %>" alt="<%= resource.title %>">
            <h3>
              <%= resource.title %>
            </h3>
            <p>
              <%= resource.description %>
            </p>
            <p><strong>Address:</strong>
              <%= resource.address || 'Not available' %>
            </p>
            <p><strong>State:</strong>
              <%= resource.state || 'Not available' %>
            </p>
          </div>
          <% }); %>
            <% } else { %>
              <p>No health resources available at this time.</p>
              <% } %>
    </div>
  </div>

        
          <%- include("partials/footer.ejs") %>