<%- include("partials/header.ejs") %>

<div class="main-body">
    <!-- Form section -->
    <% if (message) { %>
      <p class="form-message"><%= message %></p>
    <% } %>

    <div class="form-container">
      <span class="close-icon"><ion-icon name="close"></ion-icon></span>

      <!-- Login Form -->
      <div class="form-box login <%= isLogin ? '' : 'hidden' %>">
        <h2>Login</h2>
        <form action="/user-account/login" method="POST">
          <div class="input-box">
            <span class="icon"> <ion-icon name="mail"></ion-icon></span>
            <input type="email" name="email" required />
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"> <ion-icon name="lock-closed"></ion-icon></span>
            <input type="password" name="password" required />
            <label>Password</label>
          </div>
          <div class="forget-remember">
            <label><input type="checkbox" /> Remember me</label>
            <a href="#"> Forget Password?</a>
          </div>
          <button class="btn" type="submit">Login</button>
          <div class="reg-login">
            <p>
              Don't have an account? <a href="#" class="reg-link">Register</a>
            </p>
          </div>
        </form>
      </div>

      <!-- Registration Form -->
      <div class="form-box register <%= isLogin ? 'hidden' : '' %>">
        <h2>Registration</h2>
        <form action="/user-account/register" method="POST">
          <div class="input-box">
            <span class="icon"> <ion-icon name="person"></ion-icon></span>
            <input type="text" name="username" required />
            <label>Username</label>
          </div>
          <div class="input-box">
            <span class="icon"> <ion-icon name="mail"></ion-icon></span>
            <input type="email" name="email" required />
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"> <ion-icon name="lock-closed"></ion-icon></span>
            <input type="password" name="password" required />
            <label>Password</label>
          </div>
          <div class="forget-remember">
            <label><input type="checkbox" /> I agree to the <a href="#" class="terms-condition">terms & conditions</a></label>
          </div>
          <button class="btn" type="submit">Register</button>
          <div class="reg-login">
            <p>
              Already have an account? <a href="#" class="log-link">Login</a>
            </p>
          </div>
        </form>
      </div>
    </div>
</div>

<!-- <script>
  // Toggle forms
  const loginForm = document.querySelector(".form-box.login");
  const registerForm = document.querySelector(".form-box.register");
  const regLink = document.querySelector(".reg-link");
  const logLink = document.querySelector(".log-link");

  regLink.addEventListener("click", (e) => {
    e.preventDefault();
    loginForm.classList.add("hidden");
    registerForm.classList.remove("hidden");
  });

  logLink.addEventListener("click", (e) => {
    e.preventDefault();
    registerForm.classList.add("hidden");
    loginForm.classList.remove("hidden");
  });
</script> -->

<%- include("partials/footer.ejs") %>
